{% include "header.html" %}
<div class="flex">
    <!-- Menu à esquerda -->
    <nav class="w-1/4 bg-gray-100 p-4 h-screen overflow-auto">
        <h2 class="text-xl font-bold mb-4">Modelos disponiveis</h2>
        <ul>
            <form action="/upload" method="post" enctype="multipart/form-data" class="flex flex-col items-center bg-gray-50 p-6 rounded-lg shadow-lg">
                <input type="hidden" name="email" value="{{ email }}">
                
                <label for="file" class="mb-2 text-lg font-semibold text-gray-700 text-center">
                    Selecione um modelo PDF ou carrega um novo
                </label>
                
            
                <button type="submit" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">
                Carregar modelo
                </button>
            </form>
            
            {% for pdf in pdf_files %}
            <li class="mb-4" id="pdf{{ loop.index }}">
                <div class="border p-2 rounded-lg shadow-lg">
                    <!-- Ajustar escala do iframe para reduzir os espaços -->
                    <div style="overflow: hidden; position: relative; width: 100%; padding-top: 141.42%;">
                        <iframe src="/static/pdf/{{ pdf }}#toolbar=0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;" class="mb-2"></iframe>
                    </div>
                    <a href="/static/pdf/{{ pdf }}" class="text-blue-500 hover:underline">{{ pdf }}</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <!-- Conteúdo à direita -->
    <div class="w-3/3 p-8 flex flex-col justify-between h-screen">
        <div>
            <div class="flex justify-between items-center w-full">
                <h1 class="text-2xl font-bold mb-4">opencv-ao</h1>
                <h1 class="mb-4">{{email}}</h1>
            </div>
            <ul class="flex flex-col md:flex-row justify-center items-center gap-6 list-none p-0 m-0">
                <li class="relative isolate px-6 pt-14 lg:px-8 max-w-4xl">
                    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
                        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                    </div>
                    <div class="py-32 sm:py-48 lg:py-8 text-center">
                        <h1 class="text-6xl font-bold tracking-tight text-gray-900 sm:text-6xl">
                            Vamos criar o melhor resumo do mundo, do teu perfil em 4 minutos usando inteligência artificial.
                        </h1>
                        <p class="mt-2 text-lg leading-0 text-gray-600">
                            Hora de deixar aquele seu CV muito PRO, carrega um CV antigo ou começa criando um novo a partir de um modelo, basta apenas selecionar um modelo no menu a esquerda.
                        </p>
                        <div class="mt-10 flex items-center justify-center gap-x-6">
                            <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                Carregar um CV antigo, para gerar um novo
                            </a>
                        </div>
                    </div>
                    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
                        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[18rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                    </div>
                </li>
            </ul>
        </div>
        <img src="/static/img/resume-grid.avif" alt="Descrição da imagem" class="mt-auto max-w-full h-204 object-cover blur-sm opacity-0.5" />
    </div>
    
</div>

<script>
    const pdfFiles = {{ pdf_files | tojson }};
    console.log("PDFs encontrados:", pdfFiles); // Adicione este log
    pdfFiles.forEach((pdf, index) => {
        const url = `/static/pdf/${pdf}`;
        const canvasId = `pdf-canvas-${index + 1}`;
        
        const canvas = document.getElementById(canvasId);
        const context = canvas.getContext('2d');

        // Configurar PDF.js
        const loadingTask = pdfjsLib.getDocument(url);
        loadingTask.promise.then(function(pdf) {
            console.log("Carregando PDF:", pdf);
            // Renderizar a primeira página do PDF
            pdf.getPage(1).then(function(page) {
                const viewport = page.getViewport({ scale: 1 });
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const renderContext = {
                    canvasContext: context,
                    viewport: viewport
                };
                page.render(renderContext);
            }).catch(function(error) {
                console.error("Erro ao renderizar a página do PDF:", error);
            });
        }).catch(function(error) {
            console.error("Erro ao carregar o PDF:", error);
        });
    });
</script>
