{% include 'header.html' %}
    
    <div class="bg-white pb-6 sm:pb-8 lg:pb-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <header class="mb-4 flex items-center justify-between py-4 md:py-8">
            <!-- logo - start -->
            <a href="/" class="inline-flex items-center gap-2.5 text-2xl font-bold text-black md:text-3xl" aria-label="logo">
              <svg width="95" height="94" viewBox="0 0 95 94" class="h-auto w-6 text-indigo-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M96 0V47L48 94H0V47L48 0H96Z" />
              </svg>
      
              opencv-ao
            </a>
            <!-- logo - end -->
      
            <!-- nav - start -->
            <nav class="hidden gap-12 lg:flex">
              <a href="#" class="text-lg font-semibold text-indigo-500">Home</a>
              <a href="#" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Features</a>
              <a href="#" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Pricing</a>
              <a href="#" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">About</a>
            </nav>
            <!-- nav - end -->
      
            <!-- buttons - start -->
            <a href="#" class="hidden rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:inline-block">Contact Sales</a>
      
            <button type="button" class="inline-flex items-center gap-2 rounded-lg bg-gray-200 px-2.5 py-2 text-sm font-semibold text-gray-500 ring-indigo-300 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
      
              Menu
            </button>
            <!-- buttons - end -->
          </header>
      
          <section class="min-h-96 relative flex flex-1 shrink-0 items-center justify-center overflow-hidden rounded-lg bg-gray-100 py-16 shadow-lg md:py-20 xl:py-48">
            <!-- image - start -->
            <img src="https://images.unsplash.com/photo-1618004652321-13a63e576b80?auto=format&q=75&fit=crop&w=1500" loading="lazy" alt="Photo by Fakurian Design" class="absolute inset-0 h-full w-full object-cover object-center" />
            <!-- image - end -->
      
            <!-- overlay - start -->
            <div class="absolute inset-0 bg-indigo-500 mix-blend-multiply"></div>
            <!-- overlay - end -->
      
            <!-- text start -->
            <div class="relative flex flex-col items-center p-4 sm:max-w-xl">
              <p class="mb-4 text-center text-lg text-indigo-200 sm:text-xl md:mb-8">Estamos orgulhosos de introduzir</p>
              <h1 class="mb-8 text-center text-4xl font-bold text-white sm:text-5xl md:mb-12 md:text-6xl">Revolução na forma de construir e resumir currículos</h1>
      
              <div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
                <a href="/login" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Começar agora</a>
      
              </div>
            </div>
            <!-- text end -->
          </section>
        </div>
      </div>
    <div class="bg-white py-6 sm:py-8 lg:py-12">
        
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            
          <div class="mb-6 flex items-end justify-between gap-4">
            
            <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Coleções</h2>
      
            <a href="/login" class="inline-block rounded-lg border bg-white px-4 py-2 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:px-8 md:py-3 md:text-base">Ver mais</a>
          
        
        
        </div>
      
         

          <div class="grid gap-x-4 gap-y-6 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">
            <!-- product - start -->
            <div>
              <a href="#" class="group mb-2 block h-96 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:mb-3">
                <img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
              </a>
      
              <div class="flex flex-col">
                <span class="text-gray-500">Men</span>
                <a href="#" class="text-lg font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-xl">Business Causual</a>
              </div>
            </div>
            <!-- product - end -->
      
            <!-- product - start -->
            <div>
              <a href="#" class="group mb-2 block h-96 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:mb-3">
                <img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by engin akyurt" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
              </a>
      
              <div class="flex flex-col">
                <span class="text-gray-500">Women</span>
                <a href="#" class="text-lg font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-xl">Summer Season</a>
              </div>
            </div>
            <!-- product - end -->
      
            <!-- product - start -->
            <div>
              <a href="#" class="group mb-2 block h-96 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:mb-3">
                <img src="https://images.unsplash.com/photo-1552668693-d0738e00eca8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
              </a>
      
              <div class="flex flex-col">
                <span class="text-gray-500">Men</span>
                <a href="#" class="text-lg font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-xl">Streetwear</a>
              </div>
            </div>
            <!-- product - end -->
      
            <!-- product - start -->
            <div>
              <a href="#" class="group mb-2 block h-96 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:mb-3">
                <img src="https://images.unsplash.com/photo-1560269999-cef6ebd23ad3?auto=format&q=75&fit=crop&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
              </a>
      
              <div class="flex flex-col">
                <span class="text-gray-500">Women</span>
                <a href="#" class="text-lg font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-xl">Sale</a>
              </div>
            </div>
            <!-- product - end -->
          </div>
        </div>
      
        <div class="bg-white py-6 sm:py-8 lg:py-12">
           

          <div class="bg-white py-6 sm:py-8 lg:py-12">
            <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
                
                
              <!-- text - start -->
              <div class="mb-10 md:mb-16">
                <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Cria e resume o seu CV em 4 min usando Intelígencia Artificial</h2>
          
                <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">Criador de currículos usando IA, gerando currículos com base em currículos antigos e permitindo edição personalizada de modelos de currículos com criação e elaboração de currículos orientadas por IA.</p>
              </div>
              <!-- text - end -->
          
              <div class="grid gap-8 sm:grid-cols-2 md:gap-12 xl:grid-cols-3 xl:gap-16">
                <!-- feature - start -->
                <div class="flex gap-4 md:gap-6">
                  <div class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                    </svg>
                  </div>
          
                  <div>
                    <h3 class="mb-2 text-lg font-semibold md:text-xl">Atualização</h3>
                    <p class="mb-2 text-gray-500">Gera enumeros modelos de cv baseado em um CV antigo.</p>
                    <a href="#" class="font-bold text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700">More</a>
                  </div>
                </div>
                <!-- feature - end -->
          
                
          
                <!-- feature - start -->
                <div class="flex gap-4 md:gap-6">
                  <div class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
                    </svg>
                  </div>
          
                  <div>
                    <h3 class="mb-2 text-lg font-semibold md:text-xl">Criação</h3>
                    <p class="mb-2 text-gray-500">Cria CV usando IA, gerando textos e imagens, e resumindo e elaborando conteudo.</p>
                    <a href="#" class="font-bold text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700">More</a>
                  </div>
                </div>
                <!-- feature - end -->
          
                <!-- feature - start -->
                <div class="flex gap-4 md:gap-6">
                  <div class="flex h-12 w-12 shrink-0 items-center justify-center rounded-lg bg-indigo-500 text-white shadow-lg md:h-14 md:w-14 md:rounded-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                    </svg>
                  </div>
          
                  <div>
                    <h3 class="mb-2 text-lg font-semibold md:text-xl">Speed</h3>
                    <p class="mb-2 text-gray-500">Edita e resume e reencriar quando quiseres, e em qualquer lugar.</p>
                    <a href="#" class="font-bold text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700">More</a>
                  </div>
                </div>
                <!-- feature - end -->
                <br>
                
              </div>
            </div>
          </div>

          <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <div class="mx-auto flex max-w-xl flex-col items-center text-center">
              <p class="mb-4 font-semibold text-indigo-500 md:mb-6 md:text-lg xl:text-xl">Orgulhosos por</p>
        
              <h1 class="mb-8 text-3xl font-bold text-black sm:text-4xl md:mb-12 md:text-4xl">Revolucionar a forma como criamos e atualizamos nossos resumos</h1>
        
              <div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
                <a href="/login" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Começa agora</a>
        
                
              </div>
            </div>
           </div>
        </div>
    </div>
</body>
</html>
